<ngb-carousel >
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../../assets/img/comida.png" alt="Random first slide">
    </div>
    <div class="carousel-caption">
      <h3>First slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../../assets/img/cafe.png" alt="Random second slide">
    </div>
    <div class="carousel-caption">
      <h3>Second slide label</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../../assets/img/doce.png" alt="Random third slide">
    </div>
    <div class="carousel-caption">
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </ng-template>
</ngb-carousel>


<div class="parte-de-baixo mt-5 row">
  <div class="filtro col-3">
    <div class="d-flex pt-2">
      <mat-icon >filter_list</mat-icon>
      <h3 >Filtro</h3>
    </div>
    <section  >
      <mat-checkbox >Snack</mat-checkbox>
      <mat-checkbox >Drink</mat-checkbox>
      <mat-checkbox >Dessert</mat-checkbox>
    </section>
  </div>

  <div class="lista col-9">


    <app-lista-produto></app-lista-produto>
    <div *ngFor="let produto of listaDeProdutos">

      <h3>{{produto.name}}</h3>
      <span>{{produto.description}}</span>
      <span>{{produto.costPrice}}</span>

    </div>
  </div>
</div>
