<div class="lista">
  <div class="lado-direito">
    <h1>{{nome}}</h1>
    <span
      >{{descricao}}
    </span>
  </div>
  <div class="lado-esquerdo">
    <h3>R$ {{valor}}</h3>
    <button (click)="openDialog()" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
      <mat-icon>more_vert</mat-icon>
    </button>
    <button (click)="deletarProduto()" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
      <mat-icon>delete_forever</mat-icon>
    </button>

  </div>
</div>
