header{
    height: 12vh;
    background-color: black;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

    a{
        font-size: 14pt;
        margin-left: 1rem;
        color: white;
    }
}